<!DOCTYPE html>
<html lang="{{ language.code }}" dir="{{ language.dir }}">
<head>
    {% include 'template/head.html.twig' %}
</head>
<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    {% include 'template/navbar.html.twig' %}
    
    <!-- Quick scroll to top button -->
    <button id="scrollToTop" class="fixed bottom-6 end-6 z-40 hidden p-3 bg-blue-600 dark:bg-secondary-400 text-white dark:text-black rounded-full shadow-lg hover:bg-blue-700 dark:hover:bg-secondary-500 transition-all hover:scale-110" aria-label="Scroll to top">
        <i class="ph-bold ph-arrow-up text-xl"></i>
    </button>
    
    <!-- Main Container -->
    <div class="flex pt-16 justify-center">
        <div class="flex w-full max-w-[1600px]">
        
            <!-- Left Sidebar - Navigation Menu -->
            <aside id="leftSidebar" data-dir="{{ language.isRtl ? 'translate-x-full' : '-translate-x-full' }}" class="fixed bg-white dark:bg-gray-900 lg:bg-transparent dark:lg:bg-transparent lg:sticky top-16 start-0 h-[calc(100vh-4rem)] w-76 border-e border-gray-200 dark:border-gray-700 overflow-y-auto [scrollbar-width:thin] [scrollbar-color:transparent_transparent] hover:[scrollbar-color:var(--color-gray-300)_transparent] dark:hover:[scrollbar-color:var(--color-gray-600)_transparent] transform {{ language.isRtl ? 'translate-x-full' : '-translate-x-full' }} lg:translate-x-0 transition-transform duration-300 ease-in-out z-40 shrink-0">
                {% include 'template/sidebar.html.twig' %}
            </aside>

            <!-- Overlay for mobile -->
            <div id="overlay" class="hidden fixed inset-0 bg-black/50 z-30 lg:hidden"></div>

            {% block content %}{% endblock %}

            <!-- Right Sidebar - Table of Contents -->
            <aside class="sticky top-0 xl:top-16 xl:h-[calc(100vh-4rem)] xl:w-64 w-full overflow-y-auto px-4 py-6 xl:py-8 border-b xl:border-b-0 xl:border-s border-gray-200 dark:border-gray-700 order-1 xl:order-2 bg-white dark:bg-gray-900 hidden xl:block" role="complementary" aria-label="Table of contents">
                <div class="xl:sticky xl:top-0">
                    {% block rightSide %}{% endblock %}
                </div>
            </aside>
        </div>
    </div>
    {% include 'template/scripts.html.twig' %}
</body>
</html>