@import "tailwindcss";

@variant dark (&:is(.dark, .dark *));

@theme {
  --color-blue-50: #e6f0ff;
  --color-blue-100: #cce0ff;
  --color-blue-200: #99c2ff;
  --color-blue-300: #66a3ff;
  --color-blue-400: #3385ff;
  --color-blue-500: #0066ff;
  --color-blue-600: #0052cc;
  --color-blue-700: #003d99;
  --color-blue-800: #022e73;
  --color-blue-900: #032459;
  --color-blue-950: #021a40;
  
  --color-secondary-50: #f0fbfe;
  --color-secondary-100: #e0f7fd;
  --color-secondary-200: #baeefb;
  --color-secondary-300: #7de1f7;
  --color-secondary-400: #42c1ed;
  --color-secondary-500: #1ba4d9;
  --color-secondary-600: #1283b8;
  --color-secondary-700: #106895;
  --color-secondary-800: #12587b;
  --color-secondary-900: #144967;
  --color-secondary-950: #0a2e45;
}
