# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

jobs:
    finch_build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - uses: dart-lang/setup-dart@9a04e6d73cca37bd455e0608d7e5092f881fd603
            - name: Install dependencies
              run: dart pub get
            - name: Install Finch CLI
              run: |
                  dart pub global activate finch
                  export PATH="$PATH:$HOME/.pub-cache/bin"
            - name: Build finch project
              run: |
                finch build -a ./lib/app.dart -t exe -o ./build
                cp -r ./content ./build/
            - name: Test Finch_doc app in background
              run: cd ./build/lib/ && ./app.exe & sleep 60 && kill %1 && cd ../../
            - name: Upload Finch build artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: finch-build
                  path: ./build
            
            - name: create release
              if: github.event_name == 'push'
              uses: ncipollo/release-action@v1.14.0
              with:
                  artifacts: finch-build
                  tag: finch-doc-linux-v${{ github.run_number }}
                  generateReleaseNotes: false
                  immutableCreate: false
                  makeLatest: legacy
                  omitBody: false
                  omitBodyDuringUpdate: false
                  omitDraftDuringUpdate: false
                  omitName: false
                  omitNameDuringUpdate: false
                  omitPrereleaseDuringUpdate: false
                  removeArtifacts: false
                  replacesArtifacts: true
                  skipIfReleaseExists: false
                  updateOnlyUnreleased: false
                  token: ${{ secrets.RELEASE_TOKEN }}